* {
    padding: 0;
    margin: 0;
}
body{
   /* background-image: url("12Intax-5fe1d4af1403496392b290c60516dc50.jpg"); */
    background-position: center;
    background-size: cover;
    background-color: rgb(21, 1, 39);
    color: beige !important;
}
.navbartext{
    color: beige !important;
}
.login{
    font-weight: bold;
    font-size: 50px;
    background-color: rgba(0, 0, 0, 0.452);
    width: 40dvw;
}
.profile{
    width: 40dvw;
    height: 50dvh;
}
.name{
    font-size: 5rem;
}
.munkak{
    background-color: rgba(0, 0, 0, 0.467);
}
.instruction {
    word-wrap: break-word;
}
.card{
    color: beige !important;
    background-color: rgba(0, 0, 0, 0.467);
    cursor: pointer;
}
.account{
    color: beige !important;
    background-color: rgba(0, 0, 0, 0.467);
    cursor: pointer;
}
.profile-picture {
    display: flex;
    justify-content: center;
}

.profile-picture img {
    max-width: 100%;
    max-height: 300px;
}
.bemut{
    text-align: center;
}
.szoveg{
    text-align: justify;
}
